[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/akshat91
[access "refs/for/refs/*"]
	read = group user/akshat91
	push = group user/akshat91
	label-Code-Review = -2..+2 group user/akshat91
	label-Verified = -1..+1 group user/akshat91
	rebase = group user/akshat91
	removeReviewer = group user/akshat91
	submit = group user/akshat91
[access "refs/heads/*"]
	read = group user/akshat91
	create = group user/akshat91
	push = +force group user/akshat91
	pushMerge = group user/akshat91
[access "refs/tags/*"]
	push = group user/akshat91
	push = +force group user/akshat91
